<!DOCTYPE html>

<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <h1> <%= emailSubject %> </h1>

        <p style = "font-size : 15px ;"> 
        
            Hello <%= name %>
            
            <br>
            <br>
            
            You registered an account on our website , your code is : <b> <%= code %> </b>
            
            
            <br>
            <br>

            <b>If you don't ask for the code, just ignore it.</b>

            <br>
            <br>

            Kind Regards , Educational Academy
            
            <br> 
            <br> 

        </p>

    </body>

</html>
